[user]
	email = marcelloavila@gmail.com
	name = maravfe
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDSpb4qs/pirs9L4hi2eZpeWQhQzJBnxodB5+AanGCsVeO9/caO0rs8x3cPmPJ9AN29h7fqSoFmnY9GOyjLt2omYbBuxZFnlt82tMwrCsIL7fsBAnDIUxvgjorwSOWqmfbqR4iC8f9JLgI66gc/pkDw92n1nLuzAVo3WhRoAf7EKR5tHbH9eFqvD63rPtkAEDs7+DN+ruUdl8Az/Ta9hHagbK7y6yEPA0qVOjaZnbjTQ08OQoxwbPY7nEvKRDv1U9EUFXg10cXRMFmUlytY17kDFryVVphGHs/AYRqUeo/0aSD8VAb4kqLj3vVfMcLanJCwZoE3bLAN6fqYfuUOHUAmdo9lf3pC1dzExx6uzHZMqTHyhQn3fDE4qPPYXSa7G87WmJ1lH2ldLdWCUrahn40LQcG0SWGNPcLzWPJ24/3S6HTu3EaXU3qoT0KMxjAgZ+5MMuUpKfTYGUxXYT3esyS9w3G0tytk5RL8P70bR16d/u5RakwhqqtK/64AQb7cc5aOyyzZmplbw2yJjtTdI8ADKJ3C5FlDoRjbPbSqxElQcJiDY//BZfdLliYctA7BhUc5R2C4CJ2/ObPGkmJ+kWgmUBhzo5GDBdj5nMotpP0vDpAQKeYuWPtlsmwZx+WVcISyB3pfkAHbqQ3DuntBf4jZSpgsIwJHUoa/hnqbPaWxjQ== marcelloavila@gmail.com
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
